<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>ログイン | 課題管理アプリケーション</title>
</head>
<body>
<div th:if="${param.error}">
    <p>ユーザー名もしくはパスワードが違います</p>
</div>
<form action="#" th:action="@{/login}" method="post">
    <div class="mt-3">
        <label for="usernameInput" class="from-label">ユーザー名</label>
<!--        nameはスプリングセキュリティのデフォルトの名前を使用している。それ以外の名前にする際にはconfigファイル内で都度変更する必要がある-->
        <input type="text" id="usernameInput" name="username" class="form-control">
    </div>
    <div>
        <label for="passwordInput"  class="from-label">パスワード</label>
        <!--        nameはスプリングセキュリティのデフォルトの名前を使用している。それ以外の名前にする際にはconfigファイル内で都度変更する必要がある-->
        <input type="password" id="passwordInput" name="password" class="form-control">
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">ログイン</button>
    </div>
</form>
</body>
</html>